<aside class="col-md-10">
  <!--<div class="page-header">
    <h2>Editar Artigo</h2>
  </div>-->

  <div class="page-header">
    <h2>Cadastrar Artigo</h2>
  </div>

  <div [hidden]='!alertaSucesso' class="alert alert-success" role="alert">
    Pergunta cadastrada com <strong>Sucesso!</strong>.
  </div>

  <div class="page-header no-padding">
    <div class="input-group no-padding">
      <span class="input-group-addon " id="basic-addon1">Titulo</span>
      <input style="z-index:0 !important" [(ngModel)]="artigo.titulo" type="text" class="form-control" placeholder="digite o titulo do artigo" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="no-margin " style="border-radius: 5px">
    <p-editor [(ngModel)]="artigo.conteudo" [style]="{'height':'320px'}" [style]="{'height':'320px'}">
      <p-header>
        <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
        </span>
      </p-header>
    </p-editor>
  </div>

  <cite>
       <div class="input-group no-padding">
        <span class="input-group-addon " id="basic-addon1">FONTE</span>
        <input style="z-index:0 !important" type="text" [(ngModel)]="artigo.fonte" class="form-control" placeholder="digite a fonte do artigo" aria-describedby="basic-addon1">
      </div>
  </cite>

  <div style="margin-top: 10px">
    <button (click)="salvarArtigo()" type="button" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i> Cadastrar</button>
    <!--<button type="button" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>-->
  </div>


</aside>
