<!--The content below is only a placeholder and can be replaced.--> 
<div style="width:500px;height:200px;">

<div style="text-align:center">
  <h1>
    Perfil Usuário
  </h1>
</div>    

<div class="modal-body">
      
    <p-tabView>
        <p-tabPanel header="Header 1">
            Perfil
        </p-tabPanel>
        <p-tabPanel header="Header 2">
            Configuração
        </p-tabPanel>
        <p-tabPanel header="Header 3">
            E-mails   
        </p-tabPanel>
    </p-tabView>
     

</div>
